// Configuration
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/variables-dark';
@import 'bootstrap/scss/maps';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/utilities';

// Layout & components
@import 'bootstrap/scss/root';
@import 'bootstrap/scss/reboot';

@import 'bootstrap/scss/containers';
@import 'bootstrap/scss/alert';
@import 'bootstrap/scss/forms';
@import 'bootstrap/scss/progress';

// Helpers
@import 'bootstrap/scss/grid';
@import 'bootstrap/scss/helpers';

// Utilities
@import 'bootstrap/scss/utilities/api';

:root {
  --channel-1-color: #ff1744;
  --channel-2-color: #f50057;
  --channel-3-color: #d500f9;
  --channel-4-color: #651fff;
  --channel-5-color: #3d5afe;
  --channel-6-color: #1565c0;
  --channel-7-color: #00b0ff;
  --channel-8-color: #00e5ff;
  --channel-9-color: #1de9b6;
  --channel-10-color: #00e676;
  --channel-11-color: #76ff03;
  --channel-12-color: #c6ff00;
  --channel-13-color: #ffea00;
  --channel-14-color: #ffc400;
  --channel-15-color: #ff9100;
  --channel-16-color: #ff3d00;
}

.synthesizer {
  margin: 0 auto;
  transition: 0.25s;
  .instrument {
    padding: 0 auto;

    > :nth-child(2n) {
      background-color: var(--bs-tertiary-bg);
    }

    .channel,
    .header {
      display: flex;
      justify-content: space-between;
    }
    .header {
      font-size: 0.75rem;
      font-weight: bold;
      .keys {
        code {
          display: block;
        }
        display: flex;
        justify-content: space-between;
      }
    }

    > .channel {
      align-items: center;
      padding: 0.1rem;

      .mute {
        width: 3rem;
      }

      .bank {
        min-width: 4.5rem;
      }

      .program {
        min-width: 8rem;
        width: 14rem;
        @include media-breakpoint-down(lg) {
          width: 10rem;
        }
        @include media-breakpoint-down(md) {
          width: 8rem;
        }
      }

      .volume,
      .expression,
      .reverbDepth,
      .pitchBendSensitivity {
        width: 2rem;
        margin-right: 0.25rem;
        font-size: 0.75rem;
        text-align: right;
      }

      .panpot,
      .pitchBend {
        align-self: center;
        padding: 0.1rem;
        width: 6em;
        @include media-breakpoint-down(xl) {
          width: 4rem;
        }
        @include media-breakpoint-down(lg) {
          width: 3rem;
        }
        @include media-breakpoint-down(md) {
          width: 4rem;
        }
        @include media-breakpoint-down(sm) {
          width: 2rem;
        }
      }

      @include media-breakpoint-down(md) {
        flex-wrap: wrap;
      }

      &.hold {
        color: var(--bs-red);
      }
      .panpot .progress .progress-bar {
        background-color: var(--bs-teal);
        &.left {
          background-color: var(--bs-cyan);
        }
        &.right {
          background-color: var(--bs-orange);
        }
      }
      .pitchBend .progress .progress-bar {
        background-color: var(--bs-purple);
        &.low {
          background-color: var(--bs-pink);
        }
        &.high {
          background-color: var(--bs-pink);
        }
      }

      .keys {
        overflow: hidden;
        margin: 0.1rem;
        align-self: flex-end;
        display: block;
        height: 1.66rem;
        border: 1px solid var(--bs-tertiary-color);
        @include media-breakpoint-down(md) {
          height: 1.75rem;
        }

        .key {
          cursor: pointer;
          position: relative;
          float: left;
          border: none;
          padding: 0;
          margin: 0;
          background-color: transparent;

          // divide by each C key
          &:nth-child(12n + 1).tone {
            border-left: 1px solid var(--bs-secondary-color);
          }
          // white key
          &.tone {
            width: 10px;
            height: 100%;
            border-left: 1px solid var(--bs-tertiary-color);
            box-sizing: border-box;

            &:first-child {
              border-left: 0 none;
            }

            @include media-breakpoint-down(xxl) {
              width: 7px;
            }
            @include media-breakpoint-down(xl) {
              width: 6px;
            }
            @include media-breakpoint-down(lg) {
              width: 5px;
            }
            @include media-breakpoint-down(md) {
              width: 7px;
            }
            @include media-breakpoint-down(sm) {
              width: 6px;
            }
          }
          // Black key
          &.semitone {
            width: 7px;
            height: 50%;
            left: 4px;
            margin-left: -6px;
            border: 1px solid var(--bs-tertiary-color);
            border-top: none;
            background-color: var(--bs-emphasis-color);
            z-index: 999;
            @include media-breakpoint-down(xxl) {
              width: 5px;
              left: 3px;
              margin-left: -5px;
            }
            @include media-breakpoint-down(xl) {
              width: 4px;
              left: 2px;
              margin-left: -4px;
            }
            @include media-breakpoint-down(lg) {
              width: 3px;
              left: 2px;
              margin-left: -3px;
            }
            @include media-breakpoint-down(md) {
              width: 4px;
              left: 2px;
              margin-left: -4px;
            }
            @include media-breakpoint-down(sm) {
              width: 5px;
              left: 3px;
              margin-left: -5px;
            }
          }
        }
      }
      // Note on highlight color.
      &:nth-child(2) .key.note-on {
        background-color: var(--channel-1-color);
      }
      &:nth-child(3) .key.note-on {
        background-color: var(--channel-2-color);
      }
      &:nth-child(4) .key.note-on {
        background-color: var(--channel-3-color);
      }
      &:nth-child(5) .key.note-on {
        background-color: var(--channel-4-color);
      }
      &:nth-child(6) .key.note-on {
        background-color: var(--channel-5-color);
      }
      &:nth-child(7) .key.note-on {
        background-color: var(--channel-6-color);
      }
      &:nth-child(8) .key.note-on {
        background-color: var(--channel-7-color);
      }
      &:nth-child(9) .key.note-on {
        background-color: var(--channel-8-color);
      }
      &:nth-child(10) .key.note-on {
        background-color: var(--channel-9-color);
      }
      &:nth-child(11) .key.note-on {
        background-color: var(--channel-10-color);
      }
      &:nth-child(12) .key.note-on {
        background-color: var(--channel-11-color);
      }
      &:nth-child(13) .key.note-on {
        background-color: var(--channel-12-color);
      }
      &:nth-child(14) .key.note-on {
        background-color: var(--channel-13-color);
      }
      &:nth-child(15) .key.note-on {
        background-color: var(--channel-14-color);
      }
      &:nth-child(16) .key.note-on {
        background-color: var(--channel-15-color);
      }
      &:nth-child(17) .key.note-on {
        background-color: var(--channel-16-color);
      }
    }
  }
}
