// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import '~/node_modules/bootstrap/scss/functions';

// 2. Include any default variable overrides here

// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import '~/node_modules/bootstrap/scss/variables';
@import '~/node_modules/bootstrap/scss/variables-dark';

// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import '~/node_modules/bootstrap/scss/maps';
@import '~/node_modules/bootstrap/scss/mixins';
@import '~/node_modules/bootstrap/scss/root';

// 6. Optionally include any other parts as needed
@import '~/node_modules/bootstrap/scss/utilities';
@import '~/node_modules/bootstrap/scss/reboot';
@import '~/node_modules/bootstrap/scss/type';
// @import '~/node_modules/bootstrap/scss/images';
@import '~/node_modules/bootstrap/scss/containers';
@import '~/node_modules/bootstrap/scss/grid';
@import '~/node_modules/bootstrap/scss/helpers';
@import '~/node_modules/bootstrap/scss/alert';
@import '~/node_modules/bootstrap/scss/forms';
@import '~/node_modules/bootstrap/scss/progress';

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import '~/node_modules/bootstrap/scss/utilities/api';

// 8. Add additional custom code here

body {
  transition: 0.25s;
}

.synthesizer {
  margin: 0 auto;
  .instrument {
    padding: 0 auto;

    > :nth-child(2n) {
      background-color: var(--bs-tertiary-bg);
    }

    .channel,
    .header {
      display: flex;
      justify-content: space-between;
    }
    .header {
      font-size: 0.75rem;
      font-weight: bold;
      .keys {
        code {
          display: block;
        }
        display: flex;
        justify-content: space-between;
      }
    }

    > .channel {
      align-items: center;
      padding: 0.1rem;

      .mute {
        width: 3rem;
      }

      .bank {
        min-width: 4.5rem;
      }

      .program {
        min-width: 8rem;
        width: 14rem;
        @include media-breakpoint-down(lg) {
          width: 10rem;
        }
        @include media-breakpoint-down(md) {
          width: 8rem;
        }
      }

      .volume,
      .expression,
      .reverbDepth,
      .pitchBendSensitivity {
        width: 2rem;
        margin-right: 0.25rem;
        font-size: 0.75rem;
        text-align: right;
      }

      .panpot,
      .pitchBend {
        align-self: center;
        padding: 0.1rem;
        width: 6em;
        @include media-breakpoint-down(xl) {
          width: 4rem;
        }
        @include media-breakpoint-down(lg) {
          width: 3rem;
        }
        @include media-breakpoint-down(md) {
          width: 4rem;
        }
        @include media-breakpoint-down(sm) {
          width: 2rem;
        }
      }

      @include media-breakpoint-down(md) {
        flex-wrap: wrap;
      }

      &.hold {
        color: var(--bs-red);
      }
      .panpot .progress .progress-bar {
        background-color: var(--bs-teal);
        &.left {
          background-color: var(--bs-cyan);
        }
        &.right {
          background-color: var(--bs-orange);
        }
      }
      .pitchBend .progress .progress-bar {
        background-color: var(--bs-purple);
        &.low {
          background-color: var(--bs-pink);
        }
        &.high {
          background-color: var(--bs-pink);
        }
      }

      .keys {
        overflow: hidden;
        -webkit-app-region: no-drag;
        margin: 0.1rem;
        align-self: flex-end;
        display: block;
        height: 1.66rem;
        border: 1px solid var(--bs-tertiary-color);
        @include media-breakpoint-down(md) {
          height: 1.75rem;
        }

        .key {
          cursor: pointer;
          position: relative;
          float: left;
          border: none;
          padding: 0;
          margin: 0;
          background-color: transparent;

          // divide by each C key
          &:nth-child(12n + 1).tone {
            border-left: 1px solid var(--bs-secondary-color);
          }
          // white key
          &.tone {
            width: 10px;
            height: 100%;
            border-left: 1px solid var(--bs-tertiary-color);
            box-sizing: border-box;

            &:first-child {
              border-left: 0 none;
            }

            @include media-breakpoint-down(xxl) {
              width: 7px;
            }
            @include media-breakpoint-down(xl) {
              width: 6px;
            }
            @include media-breakpoint-down(lg) {
              width: 5px;
            }
            @include media-breakpoint-down(md) {
              width: 7px;
            }
            @include media-breakpoint-down(sm) {
              width: 6px;
            }
          }
          // Black key
          &.semitone {
            width: 7px;
            height: 50%;
            left: 4px;
            margin-left: -6px;
            border: 1px solid var(--bs-tertiary-color);
            border-top: none;
            background-color: var(--bs-emphasis-color);
            z-index: 999;
            @include media-breakpoint-down(xxl) {
              width: 5px;
              left: 3px;
              margin-left: -5px;
            }
            @include media-breakpoint-down(xl) {
              width: 4px;
              left: 2px;
              margin-left: -4px;
            }
            @include media-breakpoint-down(lg) {
              width: 3px;
              left: 2px;
              margin-left: -3px;
            }
            @include media-breakpoint-down(md) {
              width: 4px;
              left: 2px;
              margin-left: -4px;
            }
            @include media-breakpoint-down(sm) {
              width: 5px;
              left: 3px;
              margin-left: -5px;
            }
          }
        }
      }
      // Note on highlight color.
      &:nth-child(2) .key.note-on {
        background-color: #ff1744;
      }
      &:nth-child(3) .key.note-on {
        background-color: #f50057;
      }
      &:nth-child(4) .key.note-on {
        background-color: #d500f9;
      }
      &:nth-child(5) .key.note-on {
        background-color: #651fff;
      }
      &:nth-child(6) .key.note-on {
        background-color: #3d5afe;
      }
      &:nth-child(7) .key.note-on {
        background-color: #2979ff;
      }
      &:nth-child(8) .key.note-on {
        background-color: #00b0ff;
      }
      &:nth-child(9) .key.note-on {
        background-color: #00e5ff;
      }
      &:nth-child(10) .key.note-on {
        background-color: #1de9b6;
      }
      &:nth-child(11) .key.note-on {
        background-color: #00e676;
      }
      &:nth-child(12) .key.note-on {
        background-color: #76ff03;
      }
      &:nth-child(13) .key.note-on {
        background-color: #c6ff00;
      }
      &:nth-child(14) .key.note-on {
        background-color: #ffea00;
      }
      &:nth-child(15) .key.note-on {
        background-color: #ffc400;
      }
      &:nth-child(16) .key.note-on {
        background-color: #ff9100;
      }
      &:nth-child(17) .key.note-on {
        background-color: #ff3d00;
      }
    }
  }
}
