// Configuration
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

// Layout & components
@import '~bootstrap/scss/root';
@import '~bootstrap/scss/reboot';
@import '~bootstrap/scss/containers';
@import '~bootstrap/scss/forms';
@import '~bootstrap/scss/alert';
@import '~bootstrap/scss/progress';

// Utilities
@import '~bootstrap/scss/utilities';
@import '~bootstrap/scss/utilities/api';

.synthesizer {
  margin: 0 auto;
  .instrument {
    padding: 0 auto;

    > :nth-child(2n) {
      background-color: $gray-100;
    }

    .channel,
    .header {
      display: flex;
      justify-content: space-between;
    }
    .header {
      font-size: 0.75rem;
      font-weight: bold;
      .keys {
        code {
          display: block;
        }
        display: flex;
        justify-content: space-between;
      }
    }

    > .channel {
      align-items: center;
      padding: 0.1rem;

      .mute {
        width: 3rem;
      }

      .bank {
        width: 4.5rem;
      }

      .program {
        width: 14rem;
        @include media-breakpoint-down(lg) {
          width: 10rem;
        }
        @include media-breakpoint-down(md) {
          width: 8rem;
        }
      }

      .volume,
      .expression,
      .reverbDepth,
      .pitchBendSensitivity {
        width: 2rem;
      }

      .panpot,
      .pitchBend {
        width: 6em;
        @include media-breakpoint-down(xl) {
          width: 4rem;
        }
        @include media-breakpoint-down(lg) {
          width: 3rem;
        }
        @include media-breakpoint-down(md) {
          width: 4rem;
        }
        @include media-breakpoint-down(sm) {
          width: 2rem;
        }
      }

      @include media-breakpoint-down(md) {
        flex-wrap: wrap;
      }

      &.hold {
        color: $danger;
      }
      .panpot .progress .progress-bar {
        background-color: $teal;
        &.left {
          background-color: $cyan;
        }
        &.right {
          background-color: $orange;
        }
      }
      .pitchBend .progress .progress-bar {
        background-color: $purple;
        &.low {
          background-color: $pink;
        }
        &.high {
          background-color: $pink;
        }
      }

      .volume,
      .expression,
      .reverbDepth,
      .pitchBendSensitivity {
        margin-right: 0.25rem;
        font-size: 0.75rem;
        text-align: right;
      }

      .panpot,
      .pitchBend {
        align-self: center;
        padding: 0.1rem;
      }

      .keys {
        overflow: hidden;
        -webkit-app-region: no-drag;
        margin: 0.1rem;
        align-self: flex-end;
        display: block;
        height: 1.66rem;
        border: 1px solid $gray-500;
        @include media-breakpoint-down(md) {
          height: 1.75rem;
        }

        .key {
          cursor: pointer;
          position: relative;
          float: left;
          border: none;
          padding: 0;
          margin: 0;
          background-color: transparent;

          // devide by each C key
          &:nth-child(12n + 1).tone {
            border-left: 1px solid $gray-700;
          }
          // white key
          &.tone {
            width: 10px;
            height: 100%;
            border-left: 1px solid $gray-500;
            box-sizing: border-box;

            &:first-child {
              border-left: 0 none;
            }

            @include media-breakpoint-down(xxl) {
              width: 7px;
            }
            @include media-breakpoint-down(xl) {
              width: 6px;
            }
            @include media-breakpoint-down(lg) {
              width: 5px;
            }
            @include media-breakpoint-down(md) {
              width: 7px;
            }
            @include media-breakpoint-down(sm) {
              width: 6px;
            }
          }
          // Black key
          &.semitone {
            width: 7px;
            height: 50%;
            left: 4px;
            margin-left: -6px;
            border: 1px solid $gray-900;
            border-top: none;
            background-color: $gray-800;
            z-index: 999;
            @include media-breakpoint-down(xxl) {
              width: 5px;
              left: 3px;
              margin-left: -5px;
            }
            @include media-breakpoint-down(xl) {
              width: 4px;
              left: 2px;
              margin-left: -4px;
            }
            @include media-breakpoint-down(lg) {
              width: 3px;
              left: 2px;
              margin-left: -3px;
            }
            @include media-breakpoint-down(md) {
              width: 4px;
              left: 2px;
              margin-left: -4px;
            }
            @include media-breakpoint-down(sm) {
              width: 5px;
              left: 3px;
              margin-left: -5px;
            }
          }
        }
      }
      // Note on highlight color.
      &:nth-child(2) .key.note-on {
        background-color: #ff1744;
      }
      &:nth-child(3) .key.note-on {
        background-color: #f50057;
      }
      &:nth-child(4) .key.note-on {
        background-color: #d500f9;
      }
      &:nth-child(5) .key.note-on {
        background-color: #651fff;
      }
      &:nth-child(6) .key.note-on {
        background-color: #3d5afe;
      }
      &:nth-child(7) .key.note-on {
        background-color: #2979ff;
      }
      &:nth-child(8) .key.note-on {
        background-color: #00b0ff;
      }
      &:nth-child(9) .key.note-on {
        background-color: #00e5ff;
      }
      &:nth-child(10) .key.note-on {
        background-color: #1de9b6;
      }
      &:nth-child(11) .key.note-on {
        background-color: #00e676;
      }
      &:nth-child(12) .key.note-on {
        background-color: #76ff03;
      }
      &:nth-child(13) .key.note-on {
        background-color: #c6ff00;
      }
      &:nth-child(14) .key.note-on {
        background-color: #ffea00;
      }
      &:nth-child(15) .key.note-on {
        background-color: #ffc400;
      }
      &:nth-child(16) .key.note-on {
        background-color: #ff9100;
      }
      &:nth-child(17) .key.note-on {
        background-color: #ff3d00;
      }
    }
  }
}
